html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Righteous', cursive;
    overflow-x: hidden;
    background-color: black;
    scroll-behavior: smooth;
  }

  body {
    background-image: url("../src/Bilder/palmenHamburg.jpg");
    background-size: cover;
    width: 100%;
    position: fixed;
  }

  .app {
    height: 100%;
  }
  
  ::selection {
    color: black;
    background-color: white;
    text-shadow: none;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #0A0A0A;
  }
   
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }